

#car1,
#car2,
#car3,
#car4,
#car5 {
    visibility: hidden;
    height: 200px;
    width: 200px;
    position:absolute;
    background:
            url('../data/cars_tram.png') 0px 0px;
}

#car1:hover,
#car2:hover,
#car3:hover,
#car4:hover,
#car5:hover {
    opacity: 0.6;
}

#demo { 
    padding: 0px !important;
    position:relative;
    width: 700px;
    height: 700px;
    overflow: hidden;
   
} /* Make this a positioned parent */

input:not([type="checkbox"]):not([type="radio"]),  
button, 
textarea,
select{
    background: #F1FAEE;
    border: none;
    width: 150px;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(29, 53, 87, 0.12);
}

select{
    width: 80px;
    text-align-last:center;
}
@media print{

    @page {
        size: A4; /* DIN A4 standard, Europe */
        margin:0;
    }
    #car1,
    #car2,
    #car3,
    #car4,
    #car5 {
        left: 4cm;
        -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
        color-adjust: exact !important;
    }
    #nadpis2,
    #p2,
    .vysvetlenie2
    {
        color: inherit !important;
        background: inherit !important;
    }
}

