input:not([type="checkbox"]):not([type="radio"]),  
button, 
textarea,
select{
    background: #F1FAEE;
    border: none;
    width: 300px;
    padding: 15px 20px;
    margin: 15px;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(29, 53, 87, 0.12);
}
@media print{

    @page {
        size: A4; /* DIN A4 standard, Europe */
        margin:0;}
    #nadpis2,
    #info,
    #vypisdata1,
    #vypisdata2{
        color: inherit !important;
        background: inherit !important;

    }
    #id-moznost,
    #input1,
    #hladaj
    {
        text-align: center;
        visibility: hidden;
    }
    #input2{ position:absolute;
        z-index:15;
        top:15%;
        left:40%;
    }

}